body {
	margin: 0px; padding: 0px;
}
div {
	margin: 0px; padding: 0px;
}
dl {
	margin: 0px; padding: 0px;
}
dt {
	margin: 0px; padding: 0px;
}
dd {
	margin: 0px; padding: 0px;
}
ul {
	margin: 0px; padding: 0px;
}
ol {
	margin: 0px; padding: 0px;
}
li {
	margin: 0px; padding: 0px;
}
h1 {
	margin: 0px; padding: 0px;
}
h2 {
	margin: 0px; padding: 0px;
}
h3 {
	margin: 0px; padding: 0px;
}
h4 {
	margin: 0px; padding: 0px;
}
h5 {
	margin: 0px; padding: 0px;
}
h6 {
	margin: 0px; padding: 0px;
}
pre {
	margin: 0px; padding: 0px;
}
form {
	margin: 0px; padding: 0px;
}
fieldset {
	margin: 0px; padding: 0px;
}
input {
	margin: 0px; padding: 0px;
}
textarea {
	margin: 0px; padding: 0px;
}
blockquote {
	margin: 0px; padding: 0px;
}
p {
	margin: 0px; padding: 0px;
}
body {
	background: url("../images/48w_02.gif") repeat-x; font: 12px/normal Arial, " 풻 "; color: rgb(105, 105, 105); font-size-adjust: none; font-stretch: normal;
}
ul {
	list-style: none;
}
ol {
	list-style: none;
}
img {
	border: 0px currentColor; vertical-align: top;
}
fieldset {
	border: 0px currentColor; vertical-align: top;
}
h1 {
	font-size: 100%; font-weight: normal;
}
h2 {
	font-size: 100%; font-weight: normal;
}
h3 {
	font-size: 100%; font-weight: normal;
}
h4 {
	font-size: 100%; font-weight: normal;
}
h5 {
	font-size: 100%; font-weight: normal;
}
h6 {
	font-size: 100%; font-weight: normal;
}
address {
	font-style: normal; font-weight: normal;
}
cite {
	font-style: normal; font-weight: normal;
}
code {
	font-style: normal; font-weight: normal;
}
em {
	font-style: normal; font-weight: normal;
}
th {
	font-style: normal; font-weight: normal;
}
input {
	font: 100%/normal Arial, ""; vertical-align: middle; font-size-adjust: none; font-stretch: normal;
}
button {
	font: 100%/normal Arial, ""; vertical-align: middle; font-size-adjust: none; font-stretch: normal;
}
textarea {
	font: 100%/normal Arial, ""; vertical-align: middle; font-size-adjust: none; font-stretch: normal;
}
select {
	font: 100%/normal Arial, ""; vertical-align: middle; font-size-adjust: none; font-stretch: normal;
}
table {
	font-size: 12px;
}
td {
	font-size: 12px;
}
tr {
	font-size: 12px;
}
th {
	font-size: 12px;
}
.fB {
	font-weight: bold;
}
.fK {
	color: rgb(238, 116, 0);
}
.b1 {
	border: 1px solid rgb(235, 235, 235);
}
.f12px {
	font-size: 12px;
}
.f14px {
	font-size: 14px;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.blank10 {
	height: 10px; line-height: 10px; overflow: hidden; clear: both; font-size: 0px; display: block;
}
.blank25 {
	height: 25px; line-height: 25px; overflow: hidden; clear: both; font-size: 0px; display: block;
}
.blank20 {
	height: 20px; line-height: 20px; overflow: hidden; clear: both; font-size: 0px; display: block;
}
.clearfix {
	
}
.clearfix::after {
	height: 0px; overflow: hidden; clear: both; display: block; visibility: hidden; content: ".";
}
.clear {
	clear: both;
}
a {
	color: rgb(51, 51, 51); text-decoration: none;
}
a:hover {
	color: rgb(233, 85, 1);
}
.layout {
	margin: 0px auto; width: 1000px;
}
.rel {
	position: relative;
}
.header {
	background: url("../images/index_02.png") repeat-x; width: 100%; height: 100px; z-index: 2;
}
.ty {
	background: url("../images/ty.png") repeat-x left bottom; left: 0px; top: 0px; width: 100%; height: 103px;
}
.top_r {
	width: 660px;
}
.header .top .ss span {
	width: 400px; height: 20px; color: rgb(217, 217, 217); line-height: 20px; margin-top: 12px; margin-bottom: 12px; float: right; display: block;
}
.header .top .ss span a {
	height: 20px; color: rgb(150, 149, 149); line-height: 20px; padding-top: 2px; font-size: 12px;
}
.header .top .ss span img {
	text-align: right; margin-left: 10px;
}
.top h1 {
	width: 320px; margin-top: 22px;
}
.top .menu {
	width: 604px; font-family: "풕턼환쥌"; font-size: 14px;
}
.top .menu li {
	float: left;
}
.top .menu li a {
	height: 56px; text-align: center; display: block;
}
.top .menu li a:hover {
	background: url("../images/index_13.png") no-repeat bottom;
}
.top .menu li.m1 {
	width: 70px;
}
.top .menu li.m2 {
	width: 94px;
}
.top .menu li.m3 {
	width: 80px;
}
.top .menu li.m4 {
	width: 80px;
}
.top .menu li.m5 {
	width: 80px;
}
.top .menu li.m6 {
	width: 80px;
}
.top .menu li.m7 {
	width: 94px;
}
.banner_bj {
	background: url("../images/index_17.png"); width: 100%; height: 340px;
}
.banner_bj h3 {
	z-index: 1;
}
.login_box {
	background: rgb(255, 255, 255); left: 680px; top: 0px; width: 300px; height: 340px; filter: alpha(opacity=50); position: absolute; z-index: 1; opacity: 0.5; -moz-opacity: 0.5; -khtml-opacity: 0.5;
}
.login_con {
	left: 680px; top: 0px; width: 270px; height: 285px; padding-top: 55px; padding-left: 30px; position: absolute; z-index: 2;
}
.login_con h6 {
	color: rgb(0, 0, 0); font-family: "풕턼환쥌"; font-size: 33px; float: left;
}
.login_con h6 em {
	font-size: 17px; margin-left: 12px;
}
.login_con .input01 {
	background: url("../images/login_01.jpg") no-repeat; border: currentColor; width: 239px; height: 39px; line-height: 39px; text-indent: 35px; margin-bottom: 16px; float: left;
}
.login_con .input02 {
	background: url("../images/login_02.jpg") no-repeat; border: currentColor; width: 239px; height: 39px; line-height: 39px; text-indent: 35px; margin-bottom: 20px; float: left;
}
.login_con span {
	width: 239px; height: 36px; display: block;
}
.login_con span input {
	float: left;
}
.login_con span p {
	height: 16px; color: rgb(0, 0, 0); line-height: 16px; font-family: "풕턼환쥌"; font-size: 16px; margin-bottom: 20px; margin-left: 10px; float: left;
}
.login_con span em {
	height: 34px; color: rgb(0, 0, 0); line-height: 34px; font-family: "풕턼환쥌"; font-size: 13px; margin-left: 10px;
}
.ty02 {
	background: url("../images/index_21.png") repeat-x; width: 100%; height: 12px; overflow: hidden;
}
.con_style {
	background: rgb(251, 251, 251); border-width: 1px medium; border-style: solid none; border-color: rgb(234, 234, 234) currentColor;
}
.con_01 p {
	width: 560px;
}
.con_01 p strong {
	height: 90px; line-height: 90px; font-family: "풕턼환쥌"; font-size: 26px; display: block;
}
.con_01 p em {
	line-height: 30px; margin-bottom: 30px; display: block;
}
.title_pic {
	height: 35px; text-align: left; color: rgb(236, 116, 0); line-height: 35px; padding-top: 30px; font-family: Microsoft YaHei; font-size: 24px; font-weight: bold; display: block;
}
.wm_case_mod_bd {
	margin-top: 10px;
}
.wm_case_list {
	position: relative;
}
.wm_case_item {
	width: 96px; text-align: center; margin-right: 10px; float: left; display: inline-block; cursor: pointer;
}
.wm_case_item .icon_wrapper {
	display: inline-block;
}
.wm_case_t {
	color: rgb(85, 85, 85); padding-top: 4px; font-size: 14px; font-weight: 400;
}
.icon_wm_case {
	background: url("../images/png.png") no-repeat; width: 80px; height: 80px; vertical-align: middle; display: inline-block;
}
.hgyj.icon_wm_case {
	background-position: 0px -80px;
}
.wny.icon_wm_case {
	background-position: -80px -80px;
}
.shdz.icon_wm_case {
	background-position: -160px -80px;
}
.bgy.icon_wm_case {
	background-position: -240px -80px;
}
.mddd.icon_wm_case {
	background-position: -320px -80px;
}
.yhd.icon_wm_case {
	background-position: -400px -80px;
}
.hqc.icon_wm_case {
	background-position: -480px -80px;
}
.default_wrapper {
	border-radius: 4px; border: 1px solid rgb(192, 192, 192); overflow: hidden; box-shadow: inset 0px 1px 0px #eee, 0px 1px 5px #a1a1a1; background-color: rgb(220, 220, 220); -moz-border-radius: 4px; -webkit-border-radius: 4px; -moz-box-shadow: inset 0 1px 0 #eee, 0 1px 5px #a1a1a1; -webkit-box-shadow: inset 0 1px 0 #eee, 0 1px 5px #a1a1a1;
}
.wm_case_desc_img {
	width: 320px; height: 480px; margin-right: 10px; float: left;
}
.extra.wm_case_desc_img {
	margin-right: 20px;
}
.wm_case_desc_text {
	line-height: 2; font-size: 14px; margin-right: 10px;
}
.default_wrapper .arrow i {
	border: 10px dashed transparent; width: 0px; height: 0px; position: absolute;
}
.wm_case_desc {
	padding: 16px 15px; margin-top: 15px; position: relative;
}
.wm_case_t {
	color: rgb(85, 85, 85); padding-top: 4px; font-size: 14px; font-weight: 400;
}
.wm_case_item {
	text-align: center; cursor: pointer;
}
.default_wrapper .arrow i.arrow_out {
	border-bottom-color: rgb(192, 192, 192); border-bottom-style: solid;
}
.default_wrapper .arrow i.arrow_in {
	top: 1px; border-bottom-color: rgb(220, 220, 220); border-bottom-style: solid;
}
.default_wrapper .arrow {
	left: 36px; top: -20px; position: absolute;
}
.title_01 {
	height: 104px; text-align: center; color: rgb(100, 125, 110); line-height: 104px; font-family: "풕턼환쥌"; font-size: 40px;
}
.title_02 {
	height: 104px; color: rgb(85, 85, 85); line-height: 104px; font-family: "풕턼환쥌"; font-size: 22px;
}
.title_03 p strong {
	height: 35px; line-height: 35px; font-family: "풕턼환쥌"; font-size: 26px; display: block;
}
.title_03 p em {
	color: rgb(131, 131, 131); line-height: 28px; margin-bottom: 30px; display: block;
}
.big_con_box02 {
	background: rgb(243, 243, 243); margin: 0px auto; width: 440px;
}
.big_con_box02 h3 {
	background: url("../images/pic_03_03.png") repeat-x; height: 43px; line-height: 41px; text-indent: 20px; font-family: 풕턼환쥌;
}
.big_con_box02 h3 a {
	margin-top: 13px; margin-right: 14px;
}
.big_con_box02_con {
	padding-top: 17px; border-bottom-color: rgb(221, 221, 221); border-bottom-width: 1px; border-bottom-style: solid;
}
.big_con_box02_btn {
	background: rgb(249, 249, 249); padding-left: 153px; border-top-color: rgb(255, 255, 255); border-top-width: 1px; border-top-style: solid;
}
.big_con_box02_btn a.btn_03 {
	background: url("../images/pic_14.jpg") repeat-x; border: 1px solid rgb(21, 95, 146); width: 130px; height: 31px; text-align: center; color: rgb(255, 255, 255); line-height: 31px; font-family: 풕턼환쥌; font-size: 14px;
}
.topmess {
	padding: 20px 20px 0px 40px; color: rgb(104, 131, 172);
}
.intno {
	margin: auto; top: 60px; width: 442px; color: rgb(0, 0, 0); font-size: 12px; position: relative;
}
.intnobg {
	margin: 0px auto; width: 440px;
}
.intnotop {
	margin: auto; padding: 3px 0px 0px; width: 420px; text-align: left;
}
.intnotop h3 {
	color: rgb(21, 62, 125); font-size: 16px; font-weight: bold;
}
.intnotop img {
	top: 15px; width: 9px; height: 9px; right: 12px; position: absolute;
}
.intnotop p {
	color: rgb(76, 76, 76); line-height: 20px;
}
.intnocon {
	margin: auto; padding: 10px 0px 0px; width: 420px; line-height: 14px;
}
.intnocon span {
	color: rgb(255, 0, 0);
}
.intno1 {
	border: 1px solid rgb(127, 157, 185); width: 210px; height: 20px;
}
.intno2 {
	margin: 2px 0px 0px 10px; line-height: 22px; overflow: hidden;
}
.intno3 {
	padding: 2px 0px 0px; border: 1px solid rgb(127, 157, 185); width: 140px; height: 22px;
}
.intno4 {
	border: 1px solid rgb(127, 157, 185); width: 170px; height: 22px;
}
.intno5 {
	border: 1px solid rgb(127, 157, 185); width: 100px; height: 22px;
}
.intno7 {
	border: 1px solid rgb(127, 157, 185);
}
.redlettle {
	color: rgb(255, 0, 0);
}
.intnoimg img {
	width: 15px; height: 15px;
}
.intnobg3 {
	margin: 10px 0px 15px 175px; height: 37px; line-height: 37px; display: block; _display: block; _margin: 10px 0 15px 100px;
}
.intnobg3 {
	margin: 10px 0px 15px 175px; height: 37px; text-align: left; line-height: 37px; display: block; _margin: 10px 0 15px 88px;
}
.intnobg3 input {
	background: url("../images/formintno04.gif") no-repeat left; border: currentColor; width: 120px; height: 37px; color: rgb(255, 255, 255); text-indent: -999em; font-weight: bold; display: block; cursor: pointer;
}
.intnobg span a {
	background: url("../images/formintno05.gif") no-repeat right; width: 52px; color: rgb(255, 255, 255); padding-left: 22px; font-size: 14px; font-weight: bold; text-decoration: none; display: block;
}
.footer {
	background: url("../images/bottom.jpg") repeat-x; height: 111px;
}
.footer span {
	color: rgb(138, 138, 138); line-height: 29px;
}
.footer p a {
	color: rgb(138, 138, 138);
}
.botom_box {
	padding-top: 32px;
}
